In [5]:
from typing import Union, List, Tuple
import pandas as pd
import numpy as np
from loguru import logger  # Using Loguru for logging
from common.config import FMP_API_KEY

try:
    from tqdm import tqdm

    ENABLE_TQDM = True
except ImportError:
    ENABLE_TQDM = False

2023-10-17 22:43:12.512 | INFO     | common.config:<module>:17 - Successfully loaded environment variables.

In [6]:
tickers = ["AAPL"]
statement = "cashflow"
api_key = FMP_API_KEY
quarter = True
start_date = "2000-01-01"
end_date = None
rounding = 4
progress_bar = True

In [2]:
ticker = "AAPL"

In [7]:
url = f"https://financialmodelingprep.com/api/v3/historical-market-capitalization/{ticker}?&apikey={api_key}"
df_marketcap = pd.DataFrame()
data_mod = pd.read_json(url)
data_mod = pd.DataFrame(data_mod)
data_mod["date"] = pd.to_datetime(data_mod["date"])

data_mod = data_mod[data_mod["date"] > start_date]
df_marketcap = pd.concat([df_marketcap, data_mod], ignore_index=True)

In [7]:
base_url = "https://financialmodelingprep.com/api/v3/historical-price-full/"
url = f"{base_url}{ticker}?from=2000-01-01&to=2022-01-01&apikey={api_key}"

In [8]:
data_mod = pd.read_json(url)

In [19]:
base_url = "https://financialmodelingprep.com/api/v3/historical-price-full/"
url = f"{base_url}{ticker}?from=2000-01-01&to=2022-01-01&apikey={api_key}"

df_price = pd.read_json(url)
# Create a DataFrame from the sample data
df = pd.DataFrame(df_price)

# Explode the 'historical' dictionary into separate columns
exploded_df = df["historical"].apply(pd.Series)

# Combine the exploded DataFrame with the original 'symbol' column
final_df = pd.concat([df["symbol"], exploded_df], axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5536 entries, 0 to 5535
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symbol            5536 non-null   object
 1   date              5536 non-null   object
 2   open              5536 non-null   float64
 3   high              5536 non-null   float64
 4   low               5536 non-null   float64
 5   close             5536 non-null   float64
 6   adjClose          5536 non-null   float64
 7   volume            5536 non-null   int64
 8   unadjustedVolume  5536 non-null   int64
 9   change            5536 non-null   float64
 10  changePercent     5536 non-null   float64
 11  vwap              5536 non-null   float64
 12  label             5536 non-null   object
 13  changeOverTime    5536 non-null   float64
dtypes: float64(9), int64(2), object(3)
memory usage: 605.6+ KB

In [15]:
df_price["historical"]

0       {'date': '2021-12-31', 'open': 178.09, 'high':...
1       {'date': '2021-12-30', 'open': 179.47, 'high':...
2       {'date': '2021-12-29', 'open': 179.33, 'high':...
3       {'date': '2021-12-28', 'open': 180.16, 'high':...
4       {'date': '2021-12-27', 'open': 177.09, 'high':...
                              ...
5531    {'date': '2000-01-07', 'open': 0.8616100000000...
5532    {'date': '2000-01-06', 'open': 0.9475500000000...
5533    {'date': '2000-01-05', 'open': 0.92634, 'high'...
5534    {'date': '2000-01-04', 'open': 0.96652, 'high'...
5535    {'date': '2000-01-03', 'open': 0.9363800000000...
Name: historical, Length: 5536, dtype: object

In [11]:
data_mod = pd.DataFrame(df_price["historical"])
data_mod["symbol"] = df_price["symbol"]

In [12]:
data_mod

                                             historical symbol
0     {'date': '2021-12-31', 'open': 178.09, 'high':...   AAPL
1     {'date': '2021-12-30', 'open': 179.47, 'high':...   AAPL
2     {'date': '2021-12-29', 'open': 179.33, 'high':...   AAPL
3     {'date': '2021-12-28', 'open': 180.16, 'high':...   AAPL
4     {'date': '2021-12-27', 'open': 177.09, 'high':...   AAPL
...                                                 ...    ...
5531  {'date': '2000-01-07', 'open': 0.8616100000000...   AAPL
5532  {'date': '2000-01-06', 'open': 0.9475500000000...   AAPL
5533  {'date': '2000-01-05', 'open': 0.92634, 'high'...   AAPL
5534  {'date': '2000-01-04', 'open': 0.96652, 'high'...   AAPL
5535  {'date': '2000-01-03', 'open': 0.9363800000000...   AAPL

[5536 rows x 2 columns]

In [10]:
data_mod

     symbol                                         historical
0      AAPL  {'date': '2021-12-31', 'open': 178.09, 'high':...
1      AAPL  {'date': '2021-12-30', 'open': 179.47, 'high':...
2      AAPL  {'date': '2021-12-29', 'open': 179.33, 'high':...
3      AAPL  {'date': '2021-12-28', 'open': 180.16, 'high':...
4      AAPL  {'date': '2021-12-27', 'open': 177.09, 'high':...
...     ...                                                ...
5531   AAPL  {'date': '2000-01-07', 'open': 0.8616100000000...
5532   AAPL  {'date': '2000-01-06', 'open': 0.9475500000000...
5533   AAPL  {'date': '2000-01-05', 'open': 0.92634, 'high'...
5534   AAPL  {'date': '2000-01-04', 'open': 0.96652, 'high'...
5535   AAPL  {'date': '2000-01-03', 'open': 0.9363800000000...

[5536 rows x 2 columns]

In [ ]:
df_marketcap = pd.DataFrame()
for ticker in tqdm(tickers):
    try:
        url = f"https://financialmodelingprep.com/api/v3/historical-market-capitalization/{ticker}?&apikey={api_key}"
        data_mod = pd.read_json(url)

        data_mod = pd.DataFrame(data_mod)
        data_mod["date"] = pd.to_datetime(data_mod["date"])

        data_mod = data_mod[data_mod["date"] > start_date]
        df_marketcap = pd.concat([df_marketcap, data_mod], ignore_index=True)

    except Exception as e:
        pass

In [ ]:

    ticker_list = tickers if isinstance(tickers, list) else [tickers]

    statement_to_location = {
        "balance": "balance-sheet-statement",
        "income": "income-statement",
        "cashflow": "cash-flow-statement",
    }

    location = statement_to_location.get(statement)
    if location is None:
        raise ValueError(
            "Invalid statement type. Choose 'balance', 'income', or 'cashflow'."
        )

    period = "quarter" if quarter else "annual"
    financial_statement_dict = {}
    invalid_tickers = []

    ticker_iterator = (
        tqdm(ticker_list, desc=f"Obtaining {statement} data")
        if ENABLE_TQDM & progress_bar
        else ticker_list
    )

    for ticker in ticker_iterator:
        url = f"https://financialmodelingprep.com/api/v3/{location}/{ticker}?period={period}&apikey={api_key}"

        try:
            financial_statement = pd.read_json(url)
            if financial_statement.empty:
                invalid_tickers.append(ticker)
                continue
        except Exception as error:
            invalid_tickers.append(ticker)
            continue

        date_col = "date" if quarter else "calendarYear"
        freq = "Q" if quarter else "Y"
        financial_statement[date_col] = pd.to_datetime(
            financial_statement[date_col].astype(str)
        ).dt.to_period(freq)

        financial_statement_dict[ticker] = financial_statement

    if not financial_statement_dict:
        return pd.DataFrame(), invalid_tickers

    financial_statement_total = pd.concat(financial_statement_dict)
    financial_statement_total.reset_index(drop=True, inplace=True)
    financial_statement_total = financial_statement_total.drop_duplicates().reset_index(
        drop=True
    )

    if start_date or end_date:
        mask = True
        if start_date:
            mask &= financial_statement_total["date"] >= start_date
        if end_date:
            mask &= financial_statement_total["date"] <= end_date
        financial_statement_total = financial_statement_total[mask]

    financial_statement_total["date"] = financial_statement_total["date"].astype(str)
    return financial_statement_total, invalid_tickers